.container {
    margin: 0 auto;
    color: black;
    max-width: 435px;
    background-size: cover;
    background-color: lightblue;
    padding: 20px; 
}

.title {
  font-weight: bold;
}

.verse {
  margin: o auto;
}

h1 {
  color: darkgrey;
}
